/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/ext_power.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        
        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };
        
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };
        
        combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };
        
        combo_rgui {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp RGUI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &lt 4 Q    &kp W      &kp E      &kp R      &lt 3 T        &lt 3 Y    &kp U      &kp I      &kp O      &lt 4 P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ;        │
            &kp A      &kp S      &kp D      &kp F      &lt 2 G        &lt 2 H    &kp J      &kp K      &kp L      &kp SEMICOLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CTRL+Z   │ GUI+X    │ ALT+C    │ SHIFT+V  │  B       │   │  N       │ SHIFT+M  │ ALT+,    │ GUI+.    │ CTRL+/   │
           &kp LC(Z)  &kp LG(X)  &kp LA(C)  &kp LS(V)  &lt 1 B        &lt 1 N    &kp RS(M)  &kp RA(COMMA) &kp RG(DOT) &kp RC(SLASH)
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp BSPC   &kp DEL        &kp ENTER  &kp SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        symbols_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │          │          │          │          │   │  [       │  ]       │  -       │  =       │          │
           &gresc     &trans     &trans     &trans     &trans         &kp LBKT   &kp RBKT   &kp MINUS  &kp EQUAL  &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  1       │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │
            &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  PREV    │  PLAY    │  NEXT    │  BRID    │          │   │          │  BRIU    │  MUTE    │  VOLD    │  VOLU    │
            &kp C_PREV &kp C_PP   &kp C_NEXT &kp C_BRI_DN &trans     &trans   &kp C_BRI_UP &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        function_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ F1       │  F2      │  F3      │  F4      │  F5      │   │  =       │  7       │  8       │  9       │  -       │
            &kp F1     &kp F2     &kp F3     &kp F4     &kp F5         &kp KP_EQUAL &kp KP_N7 &kp KP_N8  &kp KP_N9  &kp KP_MINUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ F6       │  F7      │  F8      │  F9      │          │   │          │  4       │  5       │  6       │  +       │
            &kp F6     &kp F7     &kp F8     &kp F9     &trans         &trans     &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ F10      │  F11     │  F12     │  ESC     │  ENTER   │   │  0       │  1       │  2       │  3       │  *       │
            &kp F10    &kp F11    &kp F12    &kp ESC    &kp KP_ENTER   &kp KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_ASTERISK
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        
        navigation_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ POWER    │          │  UP      │ PSCREEN  │          │   │          │          │ MS_UP    │          │ EE_CLR   │
           &kp C_PWR   &trans     &kp UP     &kp PSCRN  &trans         &trans     &trans     &mmv MOVE_UP &trans   &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ WAKE     │ LEFT     │ DOWN     │ RIGHT    │ HOME     │   │ SCRL_UP  │ MS_LEFT  │ MS_DOWN  │ MS_RIGHT │ BOOT     │
           &kp C_WAKE  &kp LEFT   &kp DOWN   &kp RIGHT  &kp HOME       &msc SCRL_UP &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ SLEEP    │          │ PG_DN    │ PG_UP    │ END      │   │ SCRL_DN  │          │          │          │ RESET    │
           &kp C_SLEEP &trans     &kp PG_DN  &kp PG_UP  &kp END        &msc SCRL_DOWN &trans &trans     &trans     &sys_reset
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &mkp LCLK  &mkp RCLK
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        system_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ BT_0     │ BT_1     │ BT_2     │ BT_3     │ BT_4     │   │BOOTLOADER│ RESET    │          │          │ EXT_PWR  │
           &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bootloader &sys_reset &trans   &trans &ext_power EP_TOG
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ BT_CLR   │BT_CLR_ALL│          │          │          │   │          │          │          │          │          │
           &bt BT_CLR &bt BT_CLR_ALL &trans &trans     &trans         &trans     &trans     &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};